doctype html
html(lang='en')
    head
        title Dmytro Revak (Full-Stack Developer)
        link(rel="stylesheet", href="css/main.css")
    body
        .wrapper
            include components/header