// navigation start
nav.navigation.navigation_theme_default.flex.col
    ul.navigation__list.flex.row
        li.navigation__item
            a.navigation__link(href="") some
        li.navigation__item
            a.navigation__link(href="") some
        li.navigation__item
            a.navigation__link(href="") some
        li.navigation__item
            a.navigation__link(href="") some
        li.navigation__item
            a.navigation__link(href="") some
        li.navigation__item
            a.navigation__link(href="") some
    .cv
        .cv-info.flex
            figure.cv-info__photo
                img(src="img/test-photo.png", alt="my photo")
            .cv-info__body
                span.label.label_theme_default HELLO
                h1.cv-info__header I'm Dmytro Revak
                h2.cv-info__postition Some position
                ul.cv-info__list
                - var cvInfo = {age: '20', phone: '063-224-77-14, 096 42 37 503', email: 'dmytro.revak@gmail.com'}
                each value in cvInfo
                    li.cv__info-list-item=value
        .cv-links
            a.cv-links__link(href="") some
            a.cv-links__link(href="") some
            a.cv-links__link(href="") some
            a.cv-links__link(href="") some
            a.cv-links__link(href="") some
            a.cv-links__link(href="") some
// navigation end