// navigation start
nav.navigation.navigation_theme_default.flex.col
    ul.navigation__list.flex.row
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") CV
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") SUMMARY
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") SKILLS
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") PORTFOLIO
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") WORK EXPERIENCE
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") EDUCATION
        li.navigation__item
            a.navigation__link.navigation__link_theme_default(href="") INTERESTS
    .cv.cv_theme_default
        .cv-info.flex
            figure.cv-info__photo
                img(src="img/my-photo.png", alt="my photo")
            .cv-info__body.flex.col
                span.label.label_theme_default.label_arrow HELLO
                h1.cv-info__header
                    span.subtitle-text I'm 
                    | Dmytro Revak
                h2.cv-info__postition Junior/Trainee Full-Stack Developer
                ul.cv-info__list
                - var cvInfo = {AGE: '20', PHONE: '063-224-77-14, 096-423-75-03', EMAIL: 'dmytro.revak@gmail.com', SKYPE: 'revak-dmytro', ADDRESS: 'Lviv, Ukraine'}
                each value, key in cvInfo
                    li.cv-info__list-item.flex
                        span.cv-info__item-key=key
                        span.cv-info__item-value=value
        .cv-links.cv-links__theme_default
            ul.cv-links__list
                li.cv-links__item
                    a.cv-links__link(href="")
                        img.cv-links__link-img(src="img/fb.svg", alt="facebook logo")
                li.cv-links__item
                    a.cv-links__link(href="")
                        img.cv-links__link-img(src="img/git.svg", alt="github logo")
                li.cv-links__item
                    a.cv-links__link(href="")
                        img.cv-links__link-img(src="img/in.svg", alt="linkedin logo")
// navigation end