.navigation

    &_theme_default
        background-color: $darkBlue

    &__list
        justify-content: space-around
        padding-top: 25px

    &__item
        display: inline-block

    &__link
        display: inline-block
        padding-bottom: 5px
        color: #ffffff

        &::after

            content: "";
    width: 100%;
    display: inline-block;
    position: absolute;
    /* bottom: 26px; */
    left: 0;
    right: 0;
    top: 20px;
    background: red;
    height: 3px;
    border-radius: 10px 11px 10px 10px;


            content: ""
            position: absolute
            bottom: 0
            left: 0
            right: 0
            background: red
            height: 20px
            border-radius: 0 10px 10px 0